body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.color-rose{
    color: brown;
}
.flexible-container{
    display: flex;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(cyan,blue);
    color: white;
    border-radius: 5px;
    padding: 8px;
}
section{
    margin-bottom: 100px;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.half-width img{
    width: 60%;
}
.center-item{
    text-align: center;
}
.item-container{
    display: flex;
    width: 100%;
}
.item-arrange{
    box-shadow: 10px 10px 40px gray;
    border-radius: 8px;
    padding: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.item-arrange img{
    width: 100%;
}
.bottom-part{
    text-align: center;
    background-color: black;
    color: white;
}
h3{
    padding: 20px;
}
.network-item{
    color: aqua;
}
